main {
    background-color: rgb(245, 245, 245);
}

.profile-info {
    background-color: white;
    border-radius: 7px;
}

.mobile-part {
    border-radius: 7px;
    background-color: rgb(165, 205, 165);
}

.payment-part {
    border-radius: 7px;
    background-color: rgb(216, 216, 254);
}

.transaction-part {
    border-radius: 7px;
    background-color: rgb(200, 199, 199);
}

.swiper-slide {
 height: 150px!important;
 background-color: white;

}

.swiper-wrapper {
    background-color: rgb(245, 245, 245);
}

.swiper-button-prev {
position: relative!important;
}

.swiper-button-next {
position: relative!important;
}

.swiper-button-prev::after {
font-size: 16px!important;
background-color: rgb(245, 245, 245)!important;
border: solid 1px rgb(195, 195, 195)!important;
padding:0.5rem!important;
border-radius: 30px;
color: black!important
}

.swiper-button-next::after {
font-size: 16px!important;
background-color: rgb(245, 245, 245)!important;
border: solid 1px rgb(195, 195, 195)!important;
padding:0.5rem!important;
border-radius: 30px;
color: black!important    
}