main {
    background-color: rgb(245, 245, 245);
    width: 100%;
    max-width: 100%;

}

.profile-info {
    background-color: white;
    border-radius: 7px;
}

.mobile-part {
    border-radius: 7px;
    background-color: rgb(165, 205, 165);
}

.payment-part {
    border-radius: 7px;
    background-color: rgb(216, 216, 254);
}

.transaction-part {
    border-radius: 7px;
    background-color: rgb(200, 199, 199);
}
