.navigation {
    color: black;
    background-color: white;
}

p {
    font-size: 12px;
}

.nav svg {
    color: black;
}

.nav:hover svg {
    color: #4188f2;
    transition: 0.1s;
}

.nav:hover {
    color: #4188f2;
    transition: 0.1s;
}

.search-bar {
    outline: none;
    border-radius: 7px;
    background-color: rgb(245, 245, 245);
    border: none;
}

.search_container svg {
    margin-left: 6px;
}

.btn-primary {
    background-color: gray!important;
    border: gray!important;
}

.search_icon {
    color: gray;
}

.avatar_icon {
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    width: 30px;
    height: 30px;
}

.avatar_icon svg {
    margin: 0!important;
}

.individual {
    color: gray;
}

.message-number {
    background-color: #4188f2;
    text-align: center;
    width:20px;
    height:20px;
}

.message-number p {
    margin: 0;
    font-size: 10px;
    color: white!important;

}

.offcanvas-body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}

.offcanvas-body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#day {
    cursor: pointer;
}

#day p {
    margin: 0;
}

#day:hover {
    color: #4188f2;
    transition: 0.1s;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#night {
    cursor: pointer;
}

#night p {
    margin: 0;
}

#night:hover {
    color: #4188f2;
    transition: 0.1s;
    background-color: rgb(245, 245, 245);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


@media screen and (min-width: 995px) {
    .search_container svg {
        top: 24px;
        margin-left: 6px;
    }
}

@media screen and (max-width: 995px) {
    .search_container svg {
        top: 25px;
        margin-left: 6px;
    }
}

@media screen and (max-width: 768px) {
    .search_container svg {
        top: 23px;
        margin-left: 6px;
    }


}