.row {
    --bs-gutter-x: 0!important;
}

:root {
    --blue: rgb(77, 77, 77);
    --white: white;
}

body.light {
    --background-color: var(--white);
    --text-color: var(--blue);
    --font-weight: 400;
}

body.dark {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}